*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/assets/topography.png");
}

h1{
    color: #264653;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
}

h2{
    color: #E76F51;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
}

p{
    font-family: 'Raleway', sans-serif;
}
/****** header *****/
header{
    background: #264653;
}

nav{
    width: 1020px;
    margin: 0 auto;
}

nav ul{
    margin: 0px auto;
}

nav img{
    margin-left: 10px;
    width: 50px;
    float: left;
    line-height: 50px;
    padding: 5px;
}

nav ul li{
    width: 145px;
    list-style-type: none;
    float: right;
    text-align: center;
    line-height: 50px;
}

nav ul li img{
    float: left;
}

nav ul li a{
    color: #E76F51;
    text-decoration: none;
}

nav ul li a:hover{
    color: #E9C46A;
    border-bottom: 2px solid #E9C46A;      
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
/******* main *******/
main{
    width: 1020px;
    padding: 0 10px;
    margin: 0 auto;
}

#AboutMe a{
    text-decoration: none;
    color: green;    
    font-weight: 700;
}

#AboutMe a:hover{
    background-color: rgba(216, 202, 202, 0.3);
}
    
#separator{
    text-align: center;
    font-size: 40px;
}

#answersH1{
    font-size: 40px;
    text-align: center;
}



