html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/assets/topography.png");
    
}


h1{
    color: #264653;
    font-size: 40px;
}

h2{
    color: #E76F51;
}
/* header - navigation*/
nav{
    background: #264653;
}

nav ul{
    margin: 0px auto;
    width: 1020px;
}

nav ul li{
    width: 145px;
    list-style-type: none;
    float: right;
    text-align: center;
    line-height: 50px;
}

nav ul li a{
    color: #E76F51;
    text-decoration: none;
}

nav ul li a:hover{
    color: #E9C46A;
    border-bottom: 2px solid #E9C46A;      
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

main{
    width: 1020px;
    padding: 0 10px;
    margin: 0 auto;
    border: 1px solid red;
}