*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/assets/topography.png");
}

h1{
    color: #264653;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2{
    color: #E76F51;
    margin-top: 10px;
    margin-bottom: 10px;
}

header{
    background: #264653;
}
/* header - navigation*/
nav{
    width: 1020px;
    margin: 0 auto;
}

nav ul{
    margin: 0px auto;
    border: 1px solid palevioletred;
}

nav img{
    width: 50px;
    float: left;
    line-height: 50px;
    padding: 5px;
    border: 1px solid plum;
}

nav ul li{
    width: 145px;
    list-style-type: none;
    float: right;
    text-align: center;
    line-height: 50px;
    border: 1px solid yellow;

}

nav ul li img{
    float: left;
}

nav ul li a{
    color: #E76F51;
    text-decoration: none;
}

nav ul li a:hover{
    color: #E9C46A;
    border-bottom: 2px solid #E9C46A;      
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
/******* main *******/
main{
    width: 1020px;
    padding: 0 10px;
    margin: 0 auto;
    border: 1px solid red;
}

#separator{
    text-align: center;
}

#answersH1{
    font-size: 40px;
    text-align: center;
}



